@mixin burgerBtn {
	position: absolute;
	content: '';
	right: 0;
	height: 3px;
	transition: width 0.3s;
	background-color: $pure-white;
}

@mixin heroImages($bgImg) {
	background-image: $blue-gradient, url($bgImg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

@mixin contactForm {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
}
